{% extends "base.html" %}

{% load static %}
{% block content %}
{% with meses|length as num_meses %}
{% with entidades|length as num_entidades %}
<div class="col-md-6">
  <div class="container" style="margin-left: 300px">
    <h1>Gráfica de quejas por entidad afectada y mes</h1>
    <div class="text-center" >
      <canvas id="grafico" style="width: 100%;"></canvas>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // Obtener los datos de la vista
  var entidades = [{% for entidad in entidades %}"{{ entidad }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
  var meses = [{% for mes in meses %}"{{ mes|date:'F Y' }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
  var valores = {{ valores|safe }};

  // Crear la gráfica con los datos obtenidos
  var ctx = document.getElementById('grafico').getContext('2d');
  var datasets = [];
  entidades.forEach(function(entidad, i) {
    var datos_entidad = [];
    meses.forEach(function(mes, j) {
      var valor = valores[j][i];
      datos_entidad.push(valor);
    });
    if (datos_entidad.reduce((a, b) => a + b, 0) > 0) {
      datasets.push({
        label: entidad,
        data: datos_entidad,
        backgroundColor: 'rgba(' + (i * 50) + ', ' + (255 - i * 50) + ', 132, 0.2)',
        borderColor: 'rgba(' + (i * 50) + ', ' + (255 - i * 50) + ', 132, 1)',
        borderWidth: 1
      });
    }
  });
  var chart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: meses,
      datasets: datasets
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          scaleLabel: {
            display: true,
            labelString: 'Cantidad de quejas'
          }
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Mes'
          },
          ticks: {
            callback: function(value, index, values) {
              if (index % {{ num_meses }} === 0) {
                return value;
              } else {
                return '';
              }
            }
          }
        }]
      },
      tooltips: {
        mode: 'index',
        intersect: false
      },
      legend: {
        display: true,
        position: 'bottom'
      }
    }
  });
</script>
{% endwith %}
{% endwith %}
{% endblock %}