<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
html

{% extends 'base.html' %}

{% block content %}
  <h1>Editar respuesta {{ respuesta.numero }}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_responsable">Responsable:</label>
      <input type="text" name="responsable" value="{{ form.responsable.value }}" class="form-control" id="id_responsable">
    </div>
    <div class="form-group">
      <label for="id_descripcion">Descripción:</label>
      <textarea name="descripcion" class="form-control" id="id_descripcion">{{ form.descripcion.value }}</textarea>
    </div>
    <div class="form-group">
      <label for="id_entrega">Entrega:</label>
      <input type="text" name="entrega" value="{{ form.entrega.value }}" class="form-control" id="id_entrega">
    </div>
    <div class="form-group">
      <label for="id_satisfaccion">Satisfacción:</label>
      <input type="text" name="satisfaccion" value="{{ form.satisfaccion.value }}" class="form-control" id="id_satisfaccion">
    </div>
    <div class="form-group">
      <label for="id_conclusion">Conclusión:</label>
      <input type="text" name="conclusion" value="{{ form.conclusion.value }}" class="form-control" id="id_conclusion">
    </div>
    <div class="form-group">
      <label for="id_fechaE">Fecha de Entrega:</label>
      <input type="text" name="fechaE" value="{{ form.fechaE.value }}" class="form-control" id="id_fechaE">
    </div>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </form>
</body>
</html>