<!-- Custom styles for this template
  <h1>Formulario de Respuestas</h1>
  <form method="POST">
    {% csrf_token %}
{% if error_message %}
    <div style="color: black" class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}



    <label for="responsable">Responsable:</label>
    <input type="text" id="responsable" name="responsable" required><br>

    <label for="descripcion">Descripcion:</label>
    <input type="text" id="descripcion" name="descripcion" required><br>

    <label for="entrega">Entrega:</label>
    <input type="checkbox" id="entrega" name="entrega" required><br>

    <label for="satisfaccion">Satisfaccion:</label>
    <input id="satisfaccion" name="satisfaccion" required><br>

    <label for="conclusion">Conclusion:</label>
    <input id="conclusion" name="conclusion" required><br>

    <label for="fechaT">Fecha Termino:</label>
    <input id="fechaT" name="fechaT" required><br>

          <label for="fechaE">Fecha que se Entrego:</label>
    <input id="fechaE" name="fechaE" required><br>

    <input type="submit" value="Enviar">
  </form> -->
 <form method="get" action="{% url 'filtrar_quejas_sin_respuestas' %}" href="{% url 'filtrar_quejas_sin_respuestas' %}">
    {{ form.as_p }}
    <button type="submit">Filtrar</button>
</form>
        </div>
      </div>


      {% if form.errors %}
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
        <li><strong>{{ field.label }}:</strong> {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}

<form method="POST" action="{% url 'filtrar_quejas_sin_respuestas' %}">
  {% csrf_token %}





  <label for="responsable">Responsable:</label>
  <input type="text" id="responsable" name="responsable" required><br>

  <label for="descripcion">Descripcion:</label>
  <input type="text" id="descripcion" name="descripcion" required><br>

  <label for="entrega">Entrega:</label>
  <input type="checkbox" id="entrega" name="entrega" required><br>

  <label for="satisfaccion">Satisfaccion:</label>
  <input id="satisfaccion" name="satisfaccion" required><br>

  <label for="conclusion">Conclusion:</label>
  <input id="conclusion" name="conclusion" required><br>

  <label for="fechaT">Fecha Termino:</label>
  <input id="fechaT" name="fechaT" required><br>

  <label for="fechaE">Fecha que se Entrego:</label>
  <input id="fechaE" name="fechaE" required><br>

  <button type="submit">Enviar respuesta</button>
</form>