

  <h1>Formulario de quejas</h1>
  <form method="POST">
    {% csrf_token %}

{% if error_message %}
    <div style="color: black" class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}

    <label for="nombre_apellidos">Nombre:</label>
    <input type="text" id="nombre_apellidos" name="nombre_apellidos" required><br>

    <label for="entidadAfectada">Entidad Afectada:</label>
    <input type="text" id="entidadAfectada" name="entidadAfectada" required><br>

    <label for="modalidad">Modalidad:</label>
    <input id="modalidad" name="modalidad" required><br>

    <label for="via">Via:</label>
    <input id="via" name="via" required><br>

    <label for="procedencia">Procedencia:</label>
    <input id="procedencia" name="procedencia" required><br>

    <label for="clasificacion">Clasificacion:</label>
    <input id="clasificacion" name="clasificacion" required><br>

    <label for="casoPrensa">Caso de Prensa:</label>
    <input id="casoPrensa" name="casoPrensa" required><br>

    <label for="fechaR">Fecha Recibida:</label>
    <input id="fechaR" name="fechaR" required><br>

       <label for="fechaT">Fecha Termino:</label>
    <input id="fechaT" name="fechaT" required><br>

    <input type="submit" value="Enviar">
  </form>

