<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Seleccionar queja</h1>
  <form method="post">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Número</th>
          <th>Nombre y apellidos</th>
          <th>Fecha recibido</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        {% for queja in quejas %}
          <tr>
            <td>{{ queja.numero }}</td>
            <td>{{ queja.nombre_apellidos }}</td>
            <td>{{ queja.fechaR }}</td>
            <td>
              <button type="submit" name="pk" value="{{ queja.pk }}">Editar</button>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No hay quejas disponibles para este año</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</body>
</html>